
.alignment {
  margin: 2rem 0;
}

.alignment__seqs {
  display: inline-block;
}

.alignment__row {
  margin-bottom: 3rem;
}

.alignment__column {
  display: inline-block;
  width: 0.75rem;
  color: #ccc;
  padding: 0.2rem 0;
}

.alignment__column:hover {
  color: #000;
  font-weight: bold;
}

.alignment__cell {
  text-align: center;
  font-size: 0.6rem;
}

.alignment__changed {
  color: #000;
  background: #e4ecec;
}

.alignment__deleted {
  color: #fff;
  background: #484747;
}

.alignment__deleted:hover {
  color: #fff;
}

.alignment__id-wrapper {
  display: inline-block;
  margin-right: 5rem;
  font-size: 0.7rem;
}

.alignment_id {

}

.alignment__start {
  margin-right: 3rem;
  text-align: right;
  font-size: 0.7rem;
}

.alignment__end {
  margin-left: 3rem;
  text-align: left;
  font-size: 0.7rem;
}

.alignment__position {
  color: #954aa7;
  font-weight: bold;
  width: 2rem;
}

.alignment__hover-position__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
  display: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  border-left: 1px solid #954aa7;
  color: #aa69b9;
}

.alignment__hover-position {
  position: absolute;
  padding: 2px 5px;
  line-height: 1rem;
  background: #954aa7;
  color: #fff;
  line-height: 1rem;
}

.alignment__hover-position__A {
  top: 0;
  left: 0;
}

.alignment__hover-position__B {
  bottom: 0;
  left: 0;
}
