.status-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: max-content;
  margin-left: auto;
}

.status-wrapper > .status {
  margin-right: 1rem;
}

.status-modifier {
  display: inline-block;
}

.related-mappings {
  column-count: 3;
}

.related-mapping td {
  line-height: 3rem;
  vertical-align: top;
}

.related-mapping a {
  border-bottom: none;
}

.related-mapping .status {
  margin-top: 0.9rem;
  margin-right: 0.5rem;
}

.related-mapping .alignment-indicator {
  margin-top: 0.8rem;
  line-height: 1.2rem;
  margin-left: 0.5rem;
}

#status-indicator {
  margin-left: 1rem;
}

.mapping__alignment__wrapper {
  padding-top: 2.5rem;
  border: 2px solid #484747;
  /*height: 80vh;*/
  overflow-y: scroll;
  border-radius: 1rem;
}

.mapping__comments__wrapper {
  padding-top: 2.5rem;
  /*border: 1px solid blue;
  height: 30vh;
  overflow-y: scroll;*/
}
