
.status-modifier {
  display: inline-block;
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

.related-mapping span {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 3rem;
  vertical-align: top;
}

#status-indicator {
  margin-left: 1rem;
}
