tbody {
  border-top: #CCC 2px solid !important;
}

.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border-radius: 0;
}

.table-head {
  display: table-header-group;
  vertical-align: middle;
}

.table-head .table-row {
  background-color: #f8f8f8;
}

.table-head .table-row .table-cell {
  font-weight: bold;
  text-align: left;
}

.table-body {
  display: table-row-group;
  vertical-align: middle;
  border: 1px solid #f1f1f1;
  background-color: #fefefe;
}

.table-row {
  display: table-row;
  vertical-align: inherit;
}

.table-cell--number {
  text-align: right !important;
}

.table-cell {
  display: table-cell;
  vertical-align: inherit;
  padding: 0.5rem 0.625rem 0.625rem;
  white-space: nowrap;
}

.table-row .table-cell:first-child {
  /* temporarily disabled since 'isoform' flags are hidden now */
  /*min-width: 65px;*/
}

.table.zebra .table-body .table-row:nth-child(odd) {
  background-color: #f1f1f1;
}

.table.tbody-zebra .table-body:nth-child(odd) {
  background-color: #f1f1f1;
}

:not(.table-head)>.table-row:hover {
  background-color: #e9f3c0;
}

.results-paginate {
  list-style: none;
}

.results-paginate li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 2em;
}

.results-paginate li a {
  display: block;
  padding: 0 .7em;
  line-height: 2em;
  text-decoration: none;
  border: none;
}

.results-paginate li.selected a {
  background-color: #22424B;
  color: #ffffff;
}

.results-paginate li.disabled a {
  color: #CCC;
  cursor: default;
}

.tree-indent {
  font-size: .7rem;
  display: inline-block;
  color: #ffffff;
  border-radius: .2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  background-color: #7778c7;
  padding: 0 0.2rem;
}

.group-wrapper {
  border-bottom: 0.15rem solid #e0e0e0;;
}

.group-wrapper-header {
  cursor: pointer;
}

.group-wrapper-header .label {
  cursor: pointer;
}

.badge {
  background-color: #cbcce1;
}

.protein-type-icon {
  font-size: .7rem;
  display: inline-block;
  border-radius: .2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  padding: 0 0.2rem;
  min-width: 1.5rem;
}

.protein-type-icon--canonical {
  color: #0a0a0a;
  background: #ffae00;
}

.protein-type-icon--isoform {
  color: #ffffff;
  background-color: #7778c7;
}
